
body {
    margin: 0px;
    padding: 0px;
}

.container.container-custom-width{
    max-width: 1400px;
}

#canvasInterface{
    outline-color: black;
    outline-style: solid;
    background-color: aliceblue;
    cursor: url("https://img.icons8.com/ios/30/000000/edit.png") 0 30, auto;
}

#b5 {
    background-color: #eff4ff;
    color: black;
}

#textblock{
    position: absolute;
    left: 400px;
    top: 300px;
}

.slidecontainer {
    width: 10%; /* Width of the outside container */
    float:left;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}